<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.BedRoomMapper">

	<!-- 상품별로 상품을 가져오는 쿼리 (최신순)-->
	<select id="bedRoomListBnumDesc" resultType="BedRoomDTO" parameterType="hashmap">
   		select bnum, category, name, content, price, discount, buycount, image1
   		  from bedRoom
   		<if test="category != 0">
   		 where category=#{category}
		</if>
   		 order by bnum desc
	</select>
	
	<!-- 상품별로 상품을 가져오는 쿼리 (가격 낮은순)-->
	<select id="bedRoomListPriceAsc" resultType="BedRoomDTO" parameterType="hashmap">
   		select bnum, category, name, content, price, discount, buycount, image1
   		  from bedRoom
   		<if test="category != 0">
   		 where category=#{category}
		</if>
   		 order by price asc
	</select>
	
	<!-- 상품별로 상품을 가져오는 쿼리 (가격 높은순)-->
	<select id="bedRoomListPriceDesc" resultType="BedRoomDTO" parameterType="hashmap">
   		select bnum, category, name, content, price, discount, buycount, image1
   		  from bedRoom
   		<if test="category != 0">
   		 where category=#{category}
		</if>
   		 order by price desc
	</select>
	
	<!-- 상품별로 상품을 가져오는 쿼리 (판매 인기순)-->
	<select id="bedRoomListBuyCountDesc" resultType="BedRoomDTO" parameterType="hashmap">
   		select bnum, category, name, content, price, discount, buycount, image1
   		  from bedRoom
   		<if test="category != 0">
   		 where category=#{category}
		</if>
   		 order by buycount desc
	</select>
   
	<!-- 분류별로 상품 갯수를 반환해주는 쿼리-->
	<select id="totalRecord" resultType="int" parameterType="hashmap">
		select count(*) from bedRoom
		 where category=#{category}
	</select>
	
    <!-- 전체 상품 갯수를 반환해주는 쿼리-->
	<select id="totalRecordAll" resultType="int">
		select count(*) from bedRoom
	</select>
	
	<!-- 인기상품 세 개를 반환해주는 쿼리 (전체) -->
	<select id="bestBedRoomList" resultType="BedRoomDTO">
		select rownum, bnum, category, name, content, price, discount, buycount, image1
  		  from (select * from bedRoom order by buycount desc)
 		 where rownum between 1 and 3
	</select>
	
	<!-- 인기상품 세 개를 반환해주는 쿼리 (카테고리별로 구분) -->
	<select id="bestBedRoomListCategory" parameterType="hashmap" resultType="BedRoomDTO">
		select rownum, bnum, category, name, content, price, discount, buycount, image1
  		  from (select * from bedRoom order by buycount desc)
 		 where rownum between 1 and 3
 		   and category = #{category}
	</select>
   
   <!-- 모든 상품의 갯수를 가져오는 쿼리 (안쓰임)-->
	<select id="listAllCount" resultType="int">
   		select count(*)
   		  from bedRoom
	</select>
   
	<!-- 해당 상품(bnum)의 정보를 반환해주는 쿼리 -->
	<select id="bedRoomDetail" resultType="BedRoomDTO" parameterType="int">
   		select * from bedRoom where bnum=#{bnum}
	</select>
</mapper>