<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.momo.MyPageMapper">

	<select id="checkPwd" parameterType="hashmap" resultType="int">
		select count(*) from member where id = #{id} and pwd = #{pwd}
	</select>
	
	<update id="updateMember" parameterType="MemberDTO">
		update member
		   set pwd=#{pwd}, pwd2=#{pwd2}, tel=#{tel}, question=#{question}, answer=#{answer},
		   		post1=#{post1}, post2=#{post2}, addr1=#{addr1}, addr2=#{addr2}
		 where id=#{id}
	</update>

</mapper>